@font-face {
    font-family: 'Barlow Black';
    src: url('../fonts/Barlow-Black.ttf');
}

@font-face{
    font-family: 'Barlow Regular';
    src: url('../fonts/Barlow-Regular.ttf');
}

@font-face{
    font-family: 'Red Hat Black';
    src: url('../fonts/RedHatDisplay-Black.ttf');
}

@font-face{
    font-family: 'Red Hat Bold';
    src: url('../fonts/RedHatDisplay-Black.ttf');
}

@mixin general-text {
    font-family: 'Barlow Regular';
    font-size: 18px;
}

@mixin general-text--bold{
    font-family: 'Barlow Black';
    font-size: 24px;
}

@mixin header-text--black{
   font-family: 'Red Hat Black';
   font-size: 72px; 
}
